@page "/calculator"

<h3>Calculator</h3>

<fieldset>
	<div class="mb-3">
		<label class="form-label" for="num1">Num1</label>
		<input class="form-control" type="text" id="num1" @bind="Num1" />
	</div>

	<div class="mb-3">
		<label class="form-label" for="num2">Num 2</label>
		<input class="form-control" type="text" id="num2" @bind="Num2" />
	</div>

	<div class="mb-3">
		<button class="btn btn-primary" @onclick="Add">Num1 + Num2</button>
		<button class="btn btn-danger" @onclick="Subtract">Num1 - Num2</button>
		<button class="btn btn-warning" @onclick="Multiply">Num1 * Num2</button>
		<button class="btn btn-success" @onclick="Divide">Num1 / Num2</button>
	</div>
</fieldset>

@if (!string.IsNullOrWhiteSpace(Output))
{
	<div class="mb-3 fw-bold">
		Calculation Output
	</div>
	<div class="alert @(IsError ? "alert-danger" : "alert-info")">
		@Output
	</div>
}

@code {
	private bool IsError { get; set; } = false;
	private string Output { get; set; } = "";
	private int Num1 { get; set; }
	private int Num2 { get; set; }

	private void Add()
	{
		IsError = false;
		Output = $"The sum is: {Num1 + Num2}";
	}

	private void Subtract()
	{
		IsError = false;
		Output = $"The difference is: {Num1 - Num2}";
	}

	private void Multiply()
	{
		IsError = false;
		Output = $"The product is: {Num1 * Num2}";
	}

	private void Divide() 
	{
		if (Num2 != 0)
		{
			IsError = false;
			Output = $"The quotient is: {((double)Num1 / Num2):F2}";
		}
		else
		{
			IsError = true;
			Output = "Num2 cannot be zero";
		}
	}
}
